# Django WSGI application path in pattern MODULE_NAME:VARIABLE_NAME
wsgi_app = "blog_app.wsgi:application"

loglevel = "debug"

bind = "{{ host_ipv4 }}:8000"
workers = 3

reload = False

accesslog = "/home/{{ app_name }}/access.log"
errorlog = "/home/{{ app_name }}/error.log" 
capture_output = True 
loglevel = "info"
